<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="lab-automation test Suite">
<listeners>
<listener class-name = "utilities.ExtentListenerClass"/>
</listeners>clear
  <test thread-count="5" name="LoginTest">
    <classes>

      <class name="testcases.TC_AddTest"/>
      <class name="testcases.TC_AddPanel"/>
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
